/*
**************************************
700px 
**************************************
 */

 @media screen and (min-width: 700px) {
  /*
  ===================================
  Global styles
  ===================================
  */

  :root {
    --max-fluid-width-1: 700px;
  }

  h1,
  h2,
  h3 {
    line-height: 1;
    margin-bottom: 0.5em;
  }

  h1 {
    font-size: 4rem;
    letter-spacing: -0.45px;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  /*
  ===================================
  End of Global styles
  ===================================
  */
  /*
  ===================================
  Section styles
  ===================================
  */
  .banner-center,
  .bcg-pattern--container,
  .footer-center {
    width: 90vw;
    max-width: var(--max-fluid-width-1);
    margin-inline: auto;
  }
  /*
  ===================================
  End of Section styles
  ===================================
  */
  /*
  ===================================
  Header
  ===================================
  */
  .wide-screen--pattern {
    display: block;
  }
  .banner-center {
    padding-right: 8rem;
  }
  /*
  ===================================
  End of Header
  ===================================
  */
  /*
  ===================================
  Demo section
  ===================================
  */
  .bcg-pattern--container {
    margin-top: -55vw;
  }
  .illustration-img {
    width: 33vw;
    margin-left: 15vw;
  }

  .bcg-pattern {
    max-width: 40vw;
  }
  /*
  ===================================
  End of Demo section
  ===================================
  */
  /*
  ===================================
  Premium section
  ===================================
  */
  .premium--container {
    max-width: 350px;
    margin-inline: auto;
    width: 55vw;
    margin-right: 15vw;
    margin-top: -50vw;
  }
  /*
  ===================================
  End of Premium section
  ===================================
  */
}