/*
===================================
Fonts
===================================
*/
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

/*
===================================
CSS Variables
===================================
*/
:root {
  --clr-black: hsl(244, 23%, 12%);
  --clr-white: hsl(20, 33%, 98%);
  --clr-orange: hsl(12, 94%, 65%);
  --ff-primary: "IBM Plex Sans", sans-serif;
  --border-radius: 12px;
  --center-mobile-size: 70vw;
  --transition: all 0.4s ease-in-out;
  --ios-hover: hsl(177, 68%, 64%);
  --android-hover: hsl(33, 100%, 70%);
}

/*
===================================
Global style
===================================
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-primary);
  color: var(--ff-primary);
  background: url(/assets/bg-main-mobile.png) center/contain repeat;
  background-position: 25vw -25vw;
}

h1,
h2,
h3 {
  line-height: 1;
  margin-bottom: 0.5em;
}

h1 {
  font-size: 2.5rem;
  letter-spacing: -0.45px;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}

img {
  display: block;
  width: 100%;
}

p {
  line-height: 1.6rem;
  margin-bottom: 2.5rem;
}

a,
a:visited {
  text-decoration: none;
}

.container {
  border-radius: var(--border-radius);
}

.icon {
  width: 1.3rem;
  display: inline-block;
  transition: 0.2s;
}

.icon:hover {
  filter: invert(56%) sepia(85%) saturate(1497%) hue-rotate(326deg)
    brightness(99%) contrast(98%);
}

/*
===================================
End of Global style
===================================
*/

/*
===================================
Header
===================================
*/
header .background {
  position: absolute;
  height: 100%;
  width: 100vw;
  z-index: -1;
}

header .banner {
  padding: 2.5rem 1.5rem;
}

.banner-center {
  padding-right: 4rem;
}

.logo-img {
  width: 9rem;
  margin-bottom: 4rem;
}

/* pattern on top right corner */
.wide-screen--pattern {
  position: absolute;
  width: 25vw;
  top: -3vw;
  right: -1rem;
  display: none;
}

/*
===================================
End of Header
===================================
*/

/*
===================================
Demo section
===================================
*/
.illustration-img {
  width: 55vw;
  margin-inline: auto;
  position: relative;
}

.bcg-pattern--container {
  background-color: var(--clr-black);
  margin-top: -90vw;
  padding-bottom: 5rem;
  /* border: 5px solid red; */
}

.bcg-pattern {
  width: var(--center-mobile-size);
  max-width: 70vw;
  margin-inline: auto;
  /* border: 5px solid red; */
}

/*
===================================
End of Demo section
===================================
*/

/*
===================================
Premium section
===================================
*/
.premium--container {
  background-color: var(--clr-orange);
  color: var(--clr-white);
  margin-top: -20vw;
  position: relative;
}

.premium--center {
  width: var(--center-mobile-size);
  max-width: 80%;
  margin-inline: auto;
  padding-block: 3rem;
}

.price {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.price--big-1 {
  font-size: 3.2rem;
  font-weight: bold;
}

.download-btn {
  display: block;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 1rem 3rem;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: var(--transition);
}

.ios-btn {
  background-color: var(--clr-black);
  color: var(--clr-white);
  margin-block: 1rem;
}

.ios-btn:hover {
  background-color: var(--ios-hover);
}

.android-btn {
  background-color: var(--clr-white);
  color: var(--clr-black);
}

.android-btn:hover {
  background-color: var(--android-hover);
}

/*
===================================
End of Premium section
===================================
*/

/*
===================================
Footer
===================================
*/

.footer-center {
  padding: 2.5rem 1.5rem;
}

.social-media-icons {
  display: flex;
  gap: 1rem;
}

.email {
  color: inherit;
}

/*
===================================
End of Footer
===================================
*/

/*
**************************************
550px 
**************************************
*/

/*
**************************************
700px 
**************************************
 */

@media screen and (min-width: 700px) {
  /*
  ===================================
  Global styles
  ===================================
  */

  :root {
    --max-fluid-width-1: 700px;
  }

  h1,
  h2,
  h3 {
    line-height: 1;
    margin-bottom: 0.5em;
  }

  h1 {
    font-size: 4rem;
    letter-spacing: -0.45px;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  /*
  ===================================
  End of Global styles
  ===================================
  */
  /*
  ===================================
  Section styles
  ===================================
  */
  .banner-center,
  .bcg-pattern--container,
  .footer-center {
    width: 90vw;
    max-width: var(--max-fluid-width-1);
    margin-inline: auto;
  }
  /*
  ===================================
  End of Section styles
  ===================================
  */
  /*
  ===================================
  Header
  ===================================
  */
  .wide-screen--pattern {
    display: block;
  }
  .banner-center {
    padding-right: 8rem;
  }
  /*
  ===================================
  End of Header
  ===================================
  */
  /*
  ===================================
  Demo section
  ===================================
  */
  .bcg-pattern--container {
    margin-top: -55vw;
  }
  .illustration-img {
    width: 33vw;
    margin-left: 15vw;
  }

  .bcg-pattern {
    max-width: 40vw;
  }
  /*
  ===================================
  End of Demo section
  ===================================
  */
  /*
  ===================================
  Premium section
  ===================================
  */
  .premium--container {
    max-width: 350px;
    margin-inline: auto;
    width: 55vw;
    margin-right: 15vw;
    margin-top: -50vw;
  }
  /*
  ===================================
  End of Premium section
  ===================================
  */
}

/*
**************************************
847px 
**************************************
 */

@media screen and (min-width: 847px) {
  /*
  ===================================
  Global styles
  ===================================
  */
  :root {
    --max-fluid-width-2: 830px;
  }

  h1,
  h2,
  h3 {
    line-height: 0.8;
    margin-bottom: 0.3em;
  }

  h1 {
    font-size: 5.5rem;
    letter-spacing: -0.45px;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  /*
  ===================================
  End of Global styles
  ===================================
  */
  /*
  ===================================
  Section styles
  ===================================
  */
  .banner-center,
  .bcg-pattern--container,
  .footer-center {
    width: 90vw;
    max-width: var(--max-fluid-width-2);
    margin-inline: auto;
  }
  /*
  ===================================
  End of Section styles
  ===================================
  */
  .banner-center {
    padding-right: 12rem;
  }
  /*
  ===================================
  Demo section
  ===================================
  */
  .bcg-pattern--container {
    max-width: 90vw;
    margin-inline: auto;
    margin-top: -55vw;
  }
  .illustration-img {
    width: 33vw;
    max-width: 312px;
    margin-left: 10vw;
  }

  .bcg-pattern {
    max-width: 40vw;
  }
  /*
  ===================================
  End of Demo section
  ===================================
  */
  /*
  ===================================
  Premium section
  ===================================
  */
  .premium--container {
    max-width: 400px;
    margin-inline: auto;
    width: 55vw;
    margin-right: 10vw;
    margin-top: -35vw;
  }
  /*
  ===================================
  End of Premium section
  ===================================
  */
  /*
  ===================================
  Footer
  ===================================
  */
  .footer-center {
    padding-top: 10rem;
    display: grid;
    grid-template-columns: 1.5fr 3fr 1.5fr;
  }

  .social-media-icons {
    justify-content: right;
    align-items: center;
  }
  /*
  ===================================
  End of Footer
  ===================================
  */
}

/*
**************************************
1050px 
**************************************
 */

@media screen and (min-width: 1050px) {
  /*
  ===================================
  Global styles
  ===================================
  */
  :root {
    --max-fluid-width-3: 870px;
  }

  h1,
  h2,
  h3 {
    line-height: 0.8;
    margin-bottom: 0.3em;
  }

  h1 {
    font-size: 5.5rem;
    letter-spacing: -0.45px;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  /*
  ===================================
  End of Global styles
  ===================================
  */
  /*
  ===================================
  Section styles
  ===================================
  */
  .banner-center,
  .bcg-pattern--container,
  .footer-center {
    width: 90vw;
    max-width: var(--max-fluid-width-3);
    margin-inline: auto;
  }
  /*
  ===================================
  End of Section styles
  ===================================
  */
  /*
  ===================================
  Header
  ===================================
  */
  .banner-center {
    padding-right: 12rem;
  }
  /* pattern on top right corner */
  .wide-screen--pattern {
    max-width: 300px;
  }
  /*
  ===================================
  End of Header
  ===================================
  */
  /*
  ===================================
  Demo section
  ===================================
  */
  .bcg-pattern--container {
    margin-top: -45vw;
  }
  .illustration-img {
    width: 33vw;
    max-width: 312px;
    margin-left: 15vw;
  }

  .bcg-pattern {
    max-width: 30vw;
  }
  /*
  ===================================
  End of Demo section
  ===================================
  */
  /*
  ===================================
  Premium section
  ===================================
  */
  .premium--container {
    max-width: 400px;
    margin-inline: auto;
    width: 55vw;
    margin-right: 15vw;
    margin-top: -25vw;
  }
  /*
  ===================================
  End of Premium section
  ===================================
  */
  /*
  ===================================
  Footer
  ===================================
  */
  .footer-center {
    padding-top: 10rem;
    display: grid;
    grid-template-columns: 1.5fr 3fr 1.5fr;
  }

  .social-media-icons {
    justify-content: right;
    align-items: center;
  }
  /*
  ===================================
  End of Footer
  ===================================
  */
}
